body {
    
     /* Ajusta la imagen de Fondo*/
    margin: 0;                                                                  /* Ajustamos el Margen */
    padding: 0;                                                                 /* Ajustamos el Relleno */
    background: url(../img/Fondo\ Yummi.jpg) no-repeat center top;    /* Colocamos de fondo la imagen del url (se pon el ".." para que suba un nivel)* lo demás es para que la imagen no se repita y que se centre y este enlazada hasta arriba */
    background-size: cover;                                                     /* Colocamos de fondo la imagen del url */
    font-family: sans-serif;                                                    /* le damos estilo a la fuente de nuestro texto */
    height: 100vh;                                                              /* el tamaño del alto de la imagen  sera del 100 del alto del dispositivo*/
}

/* Ajusta la caja del formulario*/
.Login {
    width: 320px;                                                               /* Especifica el ancho del área de contenido, área de relleno o área de borde */
    height: 420px;                                                              /* Especifica la altura del área de contenido, el área de relleno o el área de borde */
    background: #000;                                                         /* Color del fondo negro */
    color: #fff;                                                              /* Color para que el texto dentro del recuadro sea de color blanco */
    top: 50%;                                                                   /* Especifica hasta qué punto el borde del margen superior de un cuadro en posición absoluta se desplaza por debajo del borde superior del 'bloque contenedor' del cuadro. */
    left: 50%;                                                                  /* Especifica hasta qué punto el borde del margen izquierdo de un cuadro en posición absoluta se desplaza a la derecha del borde izquierdo del 'bloque contenedor' del cuadro. */
    position: absolute;                                                         /* establece cómo se coloca un elemento en un documento.  */
    transform: translate(-50%, -50%) ;                                          /* Se aplica una transformación bidimensional a un elemento */
    box-sizing: border-box;                                                     /* Especifica el comportamiento de las propiedades 'ancho' y 'alto'*/
    padding: 70px 30px;                                                         /* Propiedad abreviada para establecer valores para el grosor del área de relleno. */
}


/* Ajusta Imagen que se va a mostrar cuando un usuario se loguee*/
.Login .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;                                                         /* Convertimos el borde en un circulo */
    position: absolute;                                                         /* para que se ubique delante */
    top: -50px;                                                                 /* para que se ubique casi fuera del recuadro */
    left: calc(50% - 50px);                                                     /* Lo vamos a calcular, el 50% - los 50px que estamos colocando del top */
}


/* Cambia el estilo del titulo*/
.Login h1 {
    margin: 0;
    padding: 0 0 20px;                                                          /* para que tenga un pequeño espaciado hacia abajo*/
    text-align: center;                                                         /* para que este centrado */
    font-size: 22px;                                                            /* para el tamaño del titulo */
}


/* Cambia el estilo de los recuadros para poner el usuario y contraseña*/
.Login label {
    margin: 0;
    padding: 0;                                                                 
    font-weight: bold;                                                          /* para que sea un poco mas remarcado*/
    display: block;                                                             /* para que este en una sola linea*/
}


/* Para ajustar los inputs*/
.Login input {
    width: 100%;                                                                /* para que cada imput abarque el 100 porciento del rcuadro*/
    margin-bottom: 20px;                                                        /* para el margen hacia abajo*/
}

/* Para ajustar el estilo del tipo text y tipo pasword*/
.Login input[type="text"],
.Login input[type="password"] {
    border: none;                                                               /* para quitar el borde*/
    border-bottom: 1px solid #fff;                                            /* para colocarle un apequeña linea divisora color blanco*/
    background: transparent;                                                    /* le quitamos el fondo poniendolo en transparente */
    outline: none;                                                              /* le quitamoos el outline (Propiedad abreviada para 'estilo de contorno', 'ancho de contorno' y 'color de contorno')*/
    height: 40px;                                                               /* le indicamos el alto que tiene*/
    color: #fff;                                                              /* le indicamos que el color del texto va a ser blanco*/
    font-size: 16px;                                                            /* el tamaño de la letra que va a tener */
}